@use '../../foundation/settings/index' as *;

// お知らせ
.single_inner {
  margin-right: auto;
  margin-left: auto;
  max-width: 800px;
  width: 90%;
}

.single_title {
  margin-bottom: 20px;
  padding: 12px 20px;
  width: 100%;
  border-left: 5px solid;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
}

.single_data {
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
}

.single_time {
  font-size: 14px;
  font-family: var(--fontEnglish);
  line-height: 1.5;
}

.single_taxonomy {
  margin-left: 48px;
  font-size: 14px;
  line-height: 1.5;

  span {
    font-weight: 700;
  }
}

.single_image {
  @include media() {
    aspect-ratio: 337 / 337;
    object-fit: cover;
  }
}

// ブロックエディタ
.single_content {
  margin-top: 36px;

  @include media() {
    margin-top: 65px;
  }

  h2 {
    margin: 1em 0;
    font-weight: 700;
    font-size: 18px;
  }

  p {
    a {
      color: var(--colorLink);
      text-decoration: underline;
    }

    + p {
      margin-top: 1em;
    }
  }
}


// ナビボタン
.single_nav {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  margin-right: auto;
  margin-left: auto;
  width: 980px;

  @include media() {
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
  }
}

.single_navItem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  padding-top: 46px;
  width: 40.81632653%;
  border-bottom: 1px solid #a7d0d0;
  line-height: 1.5;

  @include media() {
    padding-top: 16px;
    padding-left: 40px;
    width: 100%;
  }

  span {
    position: absolute;
    top: 16px;
    font-weight: 700;
    line-height: 1.5;

    @include media() {
      position: static;
      display: block;
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    display: block;
    width: .5em;
    height: .5em;
    border: 2px solid;
    border-top: 0;
    border-left: 0;
  }
}

.single_prev {
  padding-left: 70px;

  @include media() {
    padding-left: 40px;
  }

  span {
    left: 70px;
  }

  &::after {
    left: 16px;
    transform: rotate(135deg) translateY(-50%);

    @include media() {
      left: 4px;
    }
  }
}

.single_next {
  margin-left: auto;
  padding-right: 70px;

  @include media() {
    padding-right: 40px;
  }

  span {
    left: 16px;
  }

  &::after {
    right: 16px;
    transform: rotate(-45deg) translateY(-50%);

    @include media() {
      right: 4px;
    }
  }
}
// 商品カタログ
.catalog_inner {
  margin-right: auto;
  margin-left: auto;
  max-width: 980px;
  width: 90%;
}

.catalog_top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media() {
    flex-direction: column;
  }
}

.catalog_image {
  width: 53.77551%;
  height: 400px;

  @include media() {
    width: 100%;
    height: auto;
  }

  img {
    padding: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include media() {
      height: auto;
      aspect-ratio: 337 / 250;
    }
  }
}

.catalog_purchase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 41.73469388%;

  @include media() {
    margin-top: 20px;
    width: 100%;
  }
}

.catalog_title {
  font-weight: 700;
  font-size: 24px;

  .single_taxonomy {
    margin-left: 0;
    font-weight: normal;

    @include media() {
      margin-bottom: .5em;
    }

    span {
      font-weight: 700;
    }
  }
}

.catalog_price {
  margin-top: 56px;
  font-weight: 700;
  font-size: 31px;
  font-family: 'Lora', serif;
  line-height: 1.5;

  @include media() {
    margin-top: 20px;
  }

  span {
    margin-left: 8px;
    font-weight: normal;
    font-size: 16px;
    font-family: var(--fontGothic);
  }
}

.catalog_button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  min-height: 48px;
  width: 100%;
  border-radius: 8px;
  background-color: var(--colorKey);
  color: #fff;

  @include media() {
    border-radius: 4px;
  }
}

.catalog_section {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;

  @include media() {
    margin-top: 60px;
  }
}

.catalog_product {
  width: 53.77551%;

  @include media() {
    width: 100%;
  }
}

.catalog_data {
  width: 41.73469388%;

  @include media() {
    margin-top: 20px;
    width: 100%;
  }

  tr {
    border: 1px solid #ddd;
    border-right: 0;
    border-left: 0;
  }

  th {
    padding: 8px 16px;
    background-color: #f5f5f5;
    font-weight: normal;
  }

  td {
    padding: 8px 16px;
  }
}
